snz/snz-eai-api/src/main/java/com/haier/QuerySupplierBalanceFromGVS/QuerySupplierBalanceFromGVS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="QuerySupplierBalanceFromGVS" targetNamespace="http://www.example.org/QuerySupplierBalanceFromGVS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.example.org/QuerySupplierBalanceFromGVS/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
      <xsd:schema targetNamespace="http://www.example.org/QuerySupplierBalanceFromGVS/"
                  xmlns:tns="http://www.example.org/QuerySupplierBalanceFromGVS/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="QuerySupplierBalanceFromGVS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="INPUT" type="tns:ZFI_INT_LIFNR_YE_IN"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QuerySupplierBalanceFromGVSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OUTPUT" type="tns:ZFI_INT_LIFNR_YE_OUT"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ZFI_INT_LIFNR_YE_IN">
        <xsd:sequence>
          <xsd:element name="LIFNR" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZFI_INT_LIFNR_YE_OUT">
        <xsd:sequence>
          <xsd:element name="LIFNR" type="xsd:string"/>
          <xsd:element name="BUKRS" type="xsd:string"/>
          <xsd:element name="UM01U" type="xsd:decimal"/>
          <xsd:element name="MESSAGE" type="xsd:string"/>
          <xsd:element name="FLAG" type="xsd:string"/>
          <xsd:element name="FaultDetial" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="QuerySupplierBalanceFromGVSRequest">
    <WL5G3N0:part element="WL5G3N1:QuerySupplierBalanceFromGVS" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="QuerySupplierBalanceFromGVSResponse">
    <WL5G3N0:part element="WL5G3N1:QuerySupplierBalanceFromGVSResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="QuerySupplierBalanceFromGVS">
    <WL5G3N0:operation name="QuerySupplierBalanceFromGVS">
      <WL5G3N0:input message="WL5G3N1:QuerySupplierBalanceFromGVSRequest"/>
      <WL5G3N0:output message="WL5G3N1:QuerySupplierBalanceFromGVSResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="QuerySupplierBalanceFromGVSSOAP" type="WL5G3N1:QuerySupplierBalanceFromGVS">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="QuerySupplierBalanceFromGVS">
      <WL5G3N2:operation soapAction="http://www.example.org/QuerySupplierBalanceFromGVS/QuerySupplierBalanceFromGVS"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="QuerySupplierBalanceFromGVS">
    <WL5G3N0:port binding="WL5G3N1:QuerySupplierBalanceFromGVSSOAP" name="QuerySupplierBalanceFromGVSSOAP">
      <WL5G3N2:address location="http://10.135.17.72:10101/EAI/RoutingProxyService/EAI_SOAP_ServiceRoot?INT_CODE=EAI_INT_1637"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>