snz/snz-eai-api/src/main/resources/wsdl/SendClaimInfoToGVS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="SendClaimInfoToGVS" targetNamespace="http://www.example.org/SendClaimInfoToGVS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.example.org/SendClaimInfoToGVS/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
      <xsd:schema targetNamespace="http://www.example.org/SendClaimInfoToGVS/"
                  xmlns:tns="http://www.example.org/SendClaimInfoToGVS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="SendClaimInfoToGVS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="T_INPUT" type="tns:ZSPJH_INPUT"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="T_INPUT2" type="tns:ZSPJH_INPUT_MONTHLY">
          	</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SendClaimInfoToGVSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="T_OUTPUT" type="tns:ZSPJH_OUTPUT">
          	</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ZSPJH_INPUT">
        <xsd:sequence>
          <xsd:element name="ZDATE" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSPJH_INPUT_MONTHLY">
        <xsd:sequence>
          <xsd:element name="ZDATE" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSPJH_OUTPUT">
        <xsd:sequence>
          <xsd:element name="ZYY" type="xsd:string"/>
          <xsd:element name="ZCYX" type="xsd:string"/>
          <xsd:element name="LIFNR" type="xsd:string"/>
          <xsd:element name="NAME1" type="xsd:string"/>
          <xsd:element name="EX_IN_FLAG" type="xsd:string"/>
          <xsd:element name="WERKS" type="xsd:string"/>
          <xsd:element name="MATNR" type="xsd:string"/>
          <xsd:element name="MAKTX" type="xsd:string"/>
          <xsd:element name="EKGRP" type="xsd:string"/>
          <xsd:element name="EKNAM" type="xsd:string"/>
          <xsd:element name="KOUFEN" type="xsd:decimal"/>
          <xsd:element name="ZKKJE" type="xsd:decimal"/>
          <xsd:element name="ZKKDATA" type="xsd:string"/>
          <xsd:element name="ZDATE" type="xsd:string"/>
          <xsd:element name="ZTIME" type="xsd:string"/>
          <xsd:element name="ZKKFLG" type="xsd:string"/>
          <xsd:element name="ZFFLG" type="xsd:string"/>
          <xsd:element name="ZFMAS" type="xsd:string"/>
          <xsd:element name="ZFDAT" type="xsd:string"/>
          <xsd:element name="EAIFlag" type="xsd:string"/>
          <xsd:element name="EAIMessage" type="xsd:string"/>
          <xsd:element name="EAIDetail" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="SendClaimInfoToGVSRequest">
    <WL5G3N0:part element="WL5G3N1:SendClaimInfoToGVS" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="SendClaimInfoToGVSResponse">
    <WL5G3N0:part element="WL5G3N1:SendClaimInfoToGVSResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="SendClaimInfoToGVS">
    <WL5G3N0:operation name="SendClaimInfoToGVS">
      <WL5G3N0:input message="WL5G3N1:SendClaimInfoToGVSRequest"/>
      <WL5G3N0:output message="WL5G3N1:SendClaimInfoToGVSResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="SendClaimInfoToGVSSOAP" type="WL5G3N1:SendClaimInfoToGVS">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="SendClaimInfoToGVS">
      <WL5G3N2:operation soapAction="http://www.example.org/SendClaimInfoToGVS/SendClaimInfoToGVS"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="SendClaimInfoToGVS">
    <WL5G3N0:port binding="WL5G3N1:SendClaimInfoToGVSSOAP" name="SendClaimInfoToGVSSOAP">
      <WL5G3N2:address location="http://10.135.1.110:7001/EAI/RoutingProxyService/EAI_SOAP_ServiceRoot?INT_CODE=EAI_INT_1684"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>